{{yield this}}

{{!--

    Bug NOTE:: tagName must be defined as "div" here, you can't reference the parent because the children get rendered first.

    eg. tagName="div"

    Error from using tagName=tagName or tagName=this.tagName::
        ember.debug.js:3012 Uncaught DOMException: Failed to execute 'createElement' on 'Document': The tag name provided ('[object Object]') is not a valid name.(…)

   Solution: set the TagName property in the component itself instead of the view.
--}}

{{#each model.children as |child|}}
  {{#sortable-nested-item class=class parent=this model=child group=group scrollTopOffsetElement=scrollTopOffsetElement scrollThreshold=scrollThreshold maxScrollSpeed=maxScrollSpeed handle=handle as |EmberComponentItem|}}
    <div class="menu-title">{{EmberComponentItem.elementId}}:::: {{child.id}}-{{child.title}}</div>
    <span class="handle">&varr;</span>
  {{/sortable-nested-item}}
{{/each}}



{{!--
https://github.com/yapplabs/ember-modal-dialog/pull/152
https://guides.emberjs.com/v2.9.0/components/block-params/




Route template:
```
{{#foo as |fooComponent|}}
    {{#bar parent=fooComponent}}

    {{/bar}}
{{/foo}}
```
How to access fooComponent from foo component’s template? eg.

Route template:
```
{{#foo as |fooComponent|}} {{/foo}}
```
foo template:
```
{{#bar parent=fooComponent}}
{{/bar}}
```



--}}
